In [6]:
# add dependencies
import pandas as pd
import os
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [7]:
# set the browser and url for site to be scrapped
browser = Browser('chrome', headless=False)
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [8]:
html = browser.html
soup = bs(html, 'html.parser')

In [9]:
content_title = soup.find('div', class_='content_title').find('a')
content_title

In [10]:
news_title = content_title.text.strip()
news_title

"NASA's First Deep-Space CubeSats Say: 'Polo!'"

In [11]:
article_teaser_body = soup.find('div', class_='article_teaser_body')
article_teaser_body

In [12]:
news_p=article_teaser_body.text.strip()
news_p

"MarCO is a pair of tiny spacecraft that launched with NASA's InSight lander today."

In [13]:
browser = Browser('chrome', headless=False)
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [14]:
baseurl = 'https://www.jpl.nasa.gov'

In [15]:
html2 = browser.html
soup2 = bs(html2, 'html.parser')

In [16]:
button = soup2.find('a', class_='button fancybox')
button

<a class="button fancybox" data-description="A star's spectacular death in the constellation Taurus was observed on Earth as the supernova of 1054 A.D. This composite image uses data from three of NASA's Great Observatories. The Chandra X-ray, Hubble Space, and Spitzer Space Telescope." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA01320_ip.jpg" data-link="/spaceimages/details.php?id=PIA01320" data-title="Dead Star Creates Celestial Havoc" id="full_image">
					FULL IMAGE
				  </a>

In [17]:
image_url = soup2.find('a', {'id': 'full_image', 'data-fancybox-href': True}).get('data-fancybox-href')
image_url

'/spaceimages/images/mediumsize/PIA01320_ip.jpg'

In [18]:
featured_image_url = baseurl + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA01320_ip.jpg'

In [19]:
browser = Browser('chrome', headless=False)
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [20]:
html3 = browser.html
soup3 = bs(html3, 'html.parser')

In [21]:
tweet = soup3.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [22]:
mars_weather = tweet.text.strip()
mars_weather

'Sol 2043 (May 06, 2018), Sunny, high -14C/6F, low -71C/-95F, pressure at 7.36 hPa, daylight 05:22-17:20'

In [23]:
url4 = 'https://space-facts.com/mars/'
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [24]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [25]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 Â°C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [26]:
browser = Browser('chrome', headless=False)
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [27]:
html5 = browser.html
soup5 = bs(html5, 'html.parser')

In [28]:
one = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'
two = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'
three = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'
four = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'

In [29]:
links = [one, two, three, four]

In [30]:
a = soup5.find_all('h3')
a

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [31]:
descriptions = [h3.text.strip() for h3 in a]
descriptions

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [32]:
hemisphere_image_urls = [{'title': description, 'img_url': link} for description, link in zip(descriptions,links)]
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]